<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <title>グルメランキング</title>
   <link rel="stylesheet" type="text/css" href="food.css">
   <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
</head>

<div class="first-block-food">
  <div class="title">
    <h1>グルメランキング</h1>
  </div>
</div>










