<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <title>スポットランキング</title>
   <link rel="stylesheet" type="text/css" href="spot.css">
   <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
   </head>

<div class="first-block-spot">
 <div class="title">
  <h1>スポットランキング</h1>
 </div>
</div>


